# *** All environment variables must be added to turbo.json ***
# Vars that should be exposed to the client must be prefixed with NEXT_PUBLIC
# Variables without a prefix will only be available in server components
# Some vars are evaluated at build time so changes won't take effect in live apps

NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_ORGANIZATION_ID=
NEXT_PUBLIC_SANITY_DATASET=development
NEXT_PUBLIC_SANITY_API_VERSION=v2026-02-20
NEXT_PUBLIC_SANITY_USE_CDN=false
NEXT_PUBLIC_SANITY_IMAGE_QUALITY=100
NEXT_PUBLIC_ORIGIN=http://localhost:3000
NEXT_PUBLIC_SANITY_STUDIO_URL=http://localhost:3333

DEFAULT_REVALIDATE=21600 # 6 hours
SANITY_REVALIDATE_SECRET=

# required if you want presentation mode
# Generate in Sanity Studio dashboard under API -> Tokens -> Add API token, read only is sufficient
SANITY_API_READ_TOKEN=false
