# *** All environment variables must be added to turbo.json ***
# Sanity Studio env vars must be prefiexed by SANITY_STUDIO
# All environment variables must be added to turbo.json ***

SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_ORGANIZATION_ID=
SANITY_STUDIO_DATASET=development
SANITY_STUDIO_API_VERSION=v2026-02-20

# Necessary for the presentation tool, defaults to localhost:3000
SANITY_STUDIO_PREVIEW_URL=http://localhost:3000
# This should be added after deployment
SANITY_STUDIO_APP_ID=
